{% extends 'projectCore/startbootstrap-sb-admin-2-gh-pages/sb_admin2_index_template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block application_links %}
    <!-- Heading -->
    <div class="sidebar-heading">
        {{ current_app_name }}
    </div>

                                <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIM"
           aria-expanded="true" aria-controls="collapseIM">
            <i class="fas fa-fw fa-users"></i>
            <span>Identity Management</span>
        </a>
        <div id="collapseIM" class="collapse" aria-labelledby="headingTwo"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Identity Management</h6>
                <a class="collapse-item" href="{% url 'identityManager:imUser' %}">Users</a>
                <a class="collapse-item" href="{% url 'identityManager:imGroup' %}">Groups</a>
                <a class="collapse-item" href="{% url 'identityManager:imRole' %}">Roles</a>
            </div>
        </div>
    </li>

{% endblock %}





{#{% extends "identityManager/identityManager_app_template.html" %}#}
{#{% load i18n %}#}
{#{% load static %}#}
{##}
{#{% block title %}{{ file }}{% endblock %}#}
{##}
{##}
{#{% block modals %}#}
{##}
{#    <!-- Modal -->#}
{#    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"#}
{#         aria-hidden="true">#}
{#        <div class="modal-dialog modal-sm">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    Delete#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    Are you sure?#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>#}
{#                    <a class="btn btn-danger btn-ok">Delete</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#{% endblock %}#}
{##}
{##}
{#{% block page_content %}#}
{#    {{ block.super }}#}
{#    <div class="card mt-4 text-center">#}
{#        <div class="card-header clearfix">#}
{#            <div class="card-title">#}
{#                Dashboard#}
{#            </div>#}
{#        </div>#}
{#        <div class="card-body">#}
{#            <div class="card-deck">#}
{##}
{#                <div class="border-info mb-3 mx-auto" style="max-width: 18rem;">#}
{##}
{#                    <div class="card-body text-info">#}
{#                        <h5><a href="{% url 'identityManager:imUser' %}">Users</a></h5>#}
{#                        <p>{{ users }}</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="border-info mb-3 mx-auto" style="max-width: 18rem;">#}
{##}
{#                    <div class="card-body text-info">#}
{#                        <h5 class="card-title"><a href="{% url 'identityManager:imGroup' %}">Groups</a></h5>#}
{#                        <p class="card-text">{{ groups }}</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="border-info mb-3 mx-auto" style="max-width: 18rem;">#}
{##}
{#                    <div class="card-body text-info">#}
{#                        <h5 class="card-title"><a href="{% url 'identityManager:imRole' %}">Roles</a></h5>#}
{#                        <p class="card-text">{{ roles }}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#{% endblock %}#}
{##}
{##}
{##}
{#{% block application_body_jscript %}#}
{#    {{ block.super }}#}
{#    <script src="{% static "identityManager/jscript/identityManager.js" %}"></script>#}
{##}
{#{% endblock %}#}
