<div class="col-lg-12" id="educationDiv" style="display: none;">
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fas fa-graduation-cap"></i> Education Details
            <div class="pull-right">
                <!-- Indicates a successful or positive action -->
                <button type="button" class="btn btn-xs btn-success" id="addEducationRecord"><i
                        class="fa fa-plus fa-fw"></i></button>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            {% for rec in educationalRec %}
                <div class="panel panel-default educationalRec">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-10">
                                <div class="school">{{ rec.school }}</div>
                                <div class="field">{{ rec.degree }}, {{ rec.grade }}/4</div>
                                <div class="dates">{{ rec.startDate }} - {{ rec.finishDate }}</div>
                                <hr>
                                <div class="dates"><p>{{ rec.description }}</p></div>
                                <div class="dates"><p>{{ rec.activities }}</p></div>
                            </div>
                            <div class="col-lg-2">
                                image
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>

