{% extends "projectCore/template_level_400_application_interface.html" %}

{% load i18n %}
{% load static %}

{% block title %}{{ file }}{% endblock %}

{% block head_stylesheet %}
        {{ block.super }}
        <link href="{% static "identityManager/css/identityManager.css" %}" rel="stylesheet">
{% endblock %}



{% block application_body_jscript %}
    {{ block.super }}
    <script src="{% static "identityManager/jscript/csrfUtil.js" %}" ></script>
    <script src="{% static "identityManager/jscript/table_ops.js" %}" ></script>
{% endblock %}


{#{% block offcanvas-app-nav %}#}
{#    {% include 'identityManager/sidebar.html' %}#}
{#{% endblock %}#}