{% extends 'identityManager/base.html' %}
{% load static %}


{% block page_content %}

    {% csrf_token %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Identity Manager</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
            information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
                DataTables documentation</a>.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><span class="icon">
                      <i class="fas fa-users"></i>
                    </span>Groups</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="wbdap_imgroup_list_table" width="100%"
                           cellspacing="0">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Active</th>
                            <th style="column-span: 4;text-align: center">Operations</th>
                        </tr>
                        </thead>


                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}


{% block body__jscript %}
    {{ block.super }}

    <script>
        $(document).ready(function () {
            var csrftoken = $("input[name='csrfmiddlewaretoken']").attr('value');


            /* Formatting function for row details - modify as you need */
            function format(d) {
                // `d` is the original data object for the row
                return '<small><table class="table table-hover text-muted" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                    '<tr>' +
                    '<td>Email:</td>' +
                    '<td>' + d.email + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Last login:</td>' +
                    '<td>' + d.last_login + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Extra info:</td>' +
                    '<td>And any further details here (images etc)...</td>' +
                    '</tr>' +
                    '</table></small>';
            }


            {#------------------------------------------------------------------------------------------------------#}


            imgroup_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imgroup/create/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            console.log(ndata);
                            return ndata;
                        },
                        success: function (d) {
                            console.log('success');
                            imgroup_table.row.add(d).draw(false)
                        }
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imgroup/_id_/edit/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            {#console.log(d)#}
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },
                        success: function (d) {
                            console.log('success');
                            imgroup_table.row.add(d).draw(false)
                        }

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imgroup/_id_/delete/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imgroup_list_table",
                idSrc: 'id',
                fields: [{
                    label: "Group Name:",
                    name: "name"
                }, {
                    label: "Description:",
                    name: "description"
                }, {
                    label: "Status:",
                    type: "checkbox",
                    name: "active",
                    unselectedValue: "false",
                    separator: '',
                    options: [
                        {label: "Active", value: true}
                    ],
                }

                ]
            });

            // Activate an inline edit on click of a table cell
            $('#wbdap_imgroup_list_table').on('click', 'tbody td:not(:first-child)', function (e) {
                imgroup_editor.inline(imgroup_table.cell(this).index(),{
                    submit: 'allIfChanged'
                });
            });


            var imgroup_table = $('#wbdap_imgroup_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imgroup/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox',
                        orderable: false
                    },
                    {"data": "name", orderData: 1, targets: 1},
                    {"data": "description", orderData: 2, targets: 2},
                    {
                        "data": function (row, type, val, meta) {
                            if (row.active) {
                                return "Active"
                            } else {
                                return "Not active"
                            }
                        }
                    },

                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imgroup/' + data.id + '/">Home</a>';
                        },

                        orderable: false
                    },
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                buttons: [
                    {extend: "create", editor: imgroup_editor},
                    {extend: "edit", editor: imgroup_editor},
                    {extend: "remove", editor: imgroup_editor}
                ]
            });

            {#------------------------------------------------------------------------------------------------------#}


        })
        ;

    </script>

{% endblock %}