{% extends 'projectCore/sb_admin2_index_template.html' %}
{% load i18n %}
{% load static %}

{% block page_content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Cards</h1>
        </div>
        {##}
        {#        <div class="row">#}
        {##}
        {#            <!-- Earnings (Monthly) Card Example -->#}
        {#            <div class="col-xl-3 col-md-6 mb-4">#}
        {#                <div class="card border-left-primary shadow h-100 py-2">#}
        {#                    <div class="card-body">#}
        {#                        <div class="row no-gutters align-items-center">#}
        {#                            <div class="col mr-2">#}
        {#                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings#}
        {#                                    (Monthly)#}
        {#                                </div>#}
        {#                                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>#}
        {#                            </div>#}
        {#                            <div class="col-auto">#}
        {#                                <i class="fas fa-calendar fa-2x text-gray-300"></i>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#            <!-- Earnings (Monthly) Card Example -->#}
        {#            <div class="col-xl-3 col-md-6 mb-4">#}
        {#                <div class="card border-left-success shadow h-100 py-2">#}
        {#                    <div class="card-body">#}
        {#                        <div class="row no-gutters align-items-center">#}
        {#                            <div class="col mr-2">#}
        {#                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings#}
        {#                                    (Annual)#}
        {#                                </div>#}
        {#                                <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>#}
        {#                            </div>#}
        {#                            <div class="col-auto">#}
        {#                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#            <!-- Earnings (Monthly) Card Example -->#}
        {#            <div class="col-xl-3 col-md-6 mb-4">#}
        {#                <div class="card border-left-info shadow h-100 py-2">#}
        {#                    <div class="card-body">#}
        {#                        <div class="row no-gutters align-items-center">#}
        {#                            <div class="col mr-2">#}
        {#                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>#}
        {#                                <div class="row no-gutters align-items-center">#}
        {#                                    <div class="col-auto">#}
        {#                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>#}
        {#                                    </div>#}
        {#                                    <div class="col">#}
        {#                                        <div class="progress progress-sm mr-2">#}
        {#                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%"#}
        {#                                                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="col-auto">#}
        {#                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#            <!-- Pending Requests Card Example -->#}
        {#            <div class="col-xl-3 col-md-6 mb-4">#}
        {#                <div class="card border-left-warning shadow h-100 py-2">#}
        {#                    <div class="card-body">#}
        {#                        <div class="row no-gutters align-items-center">#}
        {#                            <div class="col mr-2">#}
        {#                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending#}
        {#                                    Requests#}
        {#                                </div>#}
        {#                                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>#}
        {#                            </div>#}
        {#                            <div class="col-auto">#}
        {#                                <i class="fas fa-comments fa-2x text-gray-300"></i>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        <div class="row">

            <div class="col-lg-6">

                <!-- Default Card Example -->
                <div class="card mb-4">
                    <div class="card-header">
                        Default Card Example
                    </div>
                    <div class="card-body">
                        This card uses Bootstrap's default styling with no utility classes added. Global styles are the
                        only things modifying the look and feel of this default card example.
                    </div>
                </div>

                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
                    </div>
                    <div class="card-body">
                        The styling for this basic card example is created by using default Bootstrap utility classes.
                        By using utility classes, the style of the card component can be easily modified with no need
                        for any custom CSS!
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <!-- Dropdown Card Example -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Dropdown Card Example</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        Dropdown menus can be placed in the card header in order to extend the functionality of a basic
                        card. In this dropdown card example, the Font Awesome vertical ellipsis icon in the card header
                        can be clicked on in order to toggle a dropdown menu.
                    </div>
                </div>

                <!-- Collapsable Card Example -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button"
                       aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">Collapsable Card Example</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseCardExample">
                        <div class="card-body">
                            This is a collapsable card example using Bootstrap's built in collapse functionality.
                            <strong>Click on the card header</strong> to see the card body collapse and expand!
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- /.container-fluid -->

    <div class="container-fluid">


        {% include "identityManager/modal/addIdentityObjectModal.html" %}

        {% csrf_token %}


        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header">Group: {{ imgroup.name }}</div>
                    <div class="card-body">
                        <p>{{ imgroup.description }}</p>

                        <div class="row">
                            <div class="col-md-3"><span
                                    class="label label-primary">{% if imgroup.memberUsers.count == 0 %} No {% else %}
                                {{ imgroup.memberUsers.count }}{% endif %} Member Users</span></div>
                            <div class="col-md-3"><span
                                    class="label label-primary">{% if imgroup.memberGroups.count == 0 %} No {% else %}
                                {{ imgroup.memberGroups.count }}{% endif %} Member Groups</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card shadow">
            <div class="card-header">
                <div class="card-title">
                    <h7>Member Users</h7>
                    <div class="pull-right">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="wbdap_imgroup_member_user_list_table" class="display">
                    <thead>
                    <tr style="text-align: center">
                        <th></th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Superuser</th>
                        <th style="column-span: 4;text-align: center">Operations</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="card shadow">
            <div class="card-header">
                <div class="card-title">
                    <h7>Member Groups</h7>
                    <div class="pull-right">
                    </div>
                </div>

            </div>
            <div class="card-body">
                <table id="wbdap_imgroup_member_group_list_table" class="display">
                    <thead>
                    <tr style="text-align: center">
                        <th></th>
                        <th>Group Name</th>
                        <th>Description</th>

                        <th style="column-span: 4;text-align: center">Operations</th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>


    </div>
{% endblock %}



{% block application_body_jscript %}
    {{ block.super }}
    <script src="{% static "identityManager/jscript/identityManager.js" %}"></script>

    <script>
        $(document).ready(function () {
            var csrftoken = $("input[name='csrfmiddlewaretoken']").attr('value');

            function split(val) {
                return val.split(/,\s*/);
            }

            function extractLast(term) {
                return split(term).pop();
            }

            imgroup_memberuser_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imgroups/{{ imgroup.id }}/memberusers/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imgroups/{{ imgroup.id }}/memberusers/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            console.log(d)
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imgroups/{{ imgroup.id }}/memberusers/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imgroup_member_user_list_table",
                idSrc: 'id',
                fields: [{
                    id: "username",
                    label: "Username:",
                    name: "username",
                    type: "autoComplete",
                    opts: {
                        {#source: '/identityManager/user/autocompleteUsers',#}
                        minLength: 0,
                        autoFocus: false,
                        autocomplete: true,
                        source: function (request, response) {
                            $.ajax({
                                url: "/identityManager/imuser/autocompleteUsers",
                                dataType: "jsonp",
                                data: {
                                    term: extractLast(request.term)
                                },
                                success: function (data) {
                                    console.log($.map(data, function (value, key) {
                                        console.log(value.username);
                                        return {
                                            value: value.username
                                        }
                                    }));
                                    response($.map(data, function (value, key) {
                                        console.log(value.username);
                                        return {
                                            label: value.username + ":" + value.first_name + " " + value.last_name,
                                            value: value.username
                                        }
                                    }));
                                }
                            });
                        },
                        create: function () {
                            $(this).data('ui-autocomplete')._renderMenu = function (ul, items) {
                                var that = this;
                                $.each(items, function (index, item) {
                                    that._renderItemData(ul, item);
                                });
                                $(ul).find("li:odd").addClass("odd_auto_complete");
                            }

                        },

                        focus: function () {
                            // prevent value inserted on focus
                            return false;
                        },
                        appendTo: "#DTE",
                        // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda
                        select: function (event, ui) {
                            var terms = split(this.value);
                            // remove the current input
                            terms.pop();

                            // add the selected item
                            terms.push(ui.item.value);
                            // add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(", ");
                            return false;
                        }
                    }
                }, {
                    label: "Staus:",
                    type: "checkbox",
                    name: "active",
                    unselectedValue: "false",
                    options: [
                        {label: "Active", value: "true"}
                    ],
                }
                ]
            });


            $('#wbdap_imgroup_member_user_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imgroups/{{ imgroup.id }}/memberusers/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "username", orderData: 1, targets: 1},
                    {"data": "first_name", orderData: 1, targets: 1},
                    {"data": "last_name", orderData: 1, targets: 1},
                    {"data": "email", orderData: 2, targets: 2},
                    {
                        "data": function (row, type, val, meta) {
                            if (row.is_superuser) {
                                return "Superuser"
                            } else {
                                return "Not active"
                            }
                        }
                    },
                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imgroup/' + data.id + '/">Op1</a>';
                        },

                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {#{extend: "create", editor: imgroup_memberuser_editor},#}
                    {
                        extend: "create",
                        text: "Add User",
                        editor: imgroup_memberuser_editor,
                        className: "btn btn-primary",
                        {#action: function (e, node, config) {#}
                        {#Assagidaki sati calisiyor, ancak standart create formunu  kullanmak daha kolay#}
                        {#$('#memberUserAddModal').modal('show')#}
                        // {#},#}
                        {#formButtons: [#}
                        {#    {#}
                        {#        label: 'Cancel',#}
                        {#        fn: function () {#}
                        {#            this.close();#}
                        {#        }#}
                        {#    },#}
                        {#    'Create new row'#}
                        {#],#}
                        formMessage: 'Add new user to group.',
                        formTitle: '<b>Add user</b>',
                    },

                    {#{extend: "edit", editor: imgroup_memberuser_editor},#}
                    {extend: "remove", text: "Remove User", editor: imgroup_memberuser_editor}
                ]
            });
            {#----------------------------------------------------------------------#}

            imgroup_membergroup_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imgroups/{{ imgroup.id }}/membergroups/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imgroups/{{ imgroup.id }}/membergroups/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            console.log(d)
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imgroups/{{ imgroup.id }}/membergroups/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imgroup_member_group_list_table",
                idSrc: 'id',
                fields: [{
                    id: "name",
                    label: "Name:",
                    name: "name",
                    type: "autoComplete",
                    opts: {

                        minLength: 0,
                        autoFocus: false,
                        autocomplete: true,
                        source: function (request, response) {
                            $.ajax({
                                url: "/identityManager/imgroup/autocompleteGroups",
                                dataType: "jsonp",
                                data: {
                                    term: extractLast(request.term)
                                },
                                success: function (data) {
                                    console.log(data)
                                    response($.map(data, function (value, key) {

                                        return {
                                            label: value.name + ": " + value.description,
                                            value: value.name
                                        }
                                    }));
                                }
                            });
                        },
                        create: function () {
                            $(this).data('ui-autocomplete')._renderMenu = function (ul, items) {
                                var that = this;
                                $.each(items, function (index, item) {
                                    that._renderItemData(ul, item);
                                });
                                $(ul).find("li:odd").addClass("odd_auto_complete");
                            }

                        },

                        focus: function () {
                            // prevent value inserted on focus
                            return false;
                        },
                        appendTo: "#DTE",
                        // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda
                        select: function (event, ui) {
                            var terms = split(this.value);
                            // remove the current input
                            terms.pop();

                            // add the selected item
                            terms.push(ui.item.value);
                            // add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(", ");
                            return false;
                        }
                    }
                }
                ]
            });

            $('#wbdap_imgroup_member_group_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imgroups/{{ imgroup.id }}/membergroups/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "name", orderData: 1, targets: 1},
                    {"data": "description", orderData: 1, targets: 1},

                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imgroup/' + data.id + '/">Subgroup Home</a>';
                        },

                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {
                        extend: "create",
                        text: "Add Group",
                        editor: imgroup_membergroup_editor,
                        className: "btn btn-primary",
                        formMessage: 'Add new group to group.',
                        formTitle: '<b>Add Group</b>',
                    },
                    {extend: "remove", text: "Remove Group", editor: imgroup_membergroup_editor}
                ]
            });

        });


    </script>
    {##}
    {##}
    {#    <script>#}
    {#        $(function () {#}
    {##}
    {#            function split(val) {#}
    {#                return val.split(/,\s*/);#}
    {#            }#}
    {##}
    {#            function extractLast(term) {#}
    {#                return split(term).pop();#}
    {#            }#}
    {##}
    {##}
    {#            $("#users")#}
    {#            // don't navigate away from the field on tab when selecting an item#}
    {#                .on("keydown", function (event) {#}
    {#                    if (event.keyCode === $.ui.keyCode.TAB &&#}
    {#                        $(this).autocomplete("instance").menu.active) {#}
    {#                        event.preventDefault();#}
    {#                    }#}
    {#                })#}
    {#                .autocomplete({#}
    {#                    minLength: 0,#}
    {#                        source: function (request, response) {#}
    {#                            // delegate back to autocomplete, but extract the last term#}
    {#                            response($.ui.autocomplete.filter(#}
    {#                                    availableTags, extractLast(request.term)));#}
    {#                        },#}
    {#                    source: function (request, response) {#}
    {#                        $.ajax({#}
    {#                            url: "/identityManager/imuser/autocompleteUsers",#}
    {#                            dataType: "jsonp",#}
    {#                            data: {#}
    {#                                term: extractLast(request.term)#}
    {#                            },#}
    {#                            success: function (data) {#}
    {#                                console.log($.map(data, function (value, key) {#}
    {#                                    console.log(value.username);#}
    {#                                    return {#}
    {#                                        value: value.username#}
    {#                                    }#}
    {#                                }));#}
    {#                                response($.map(data, function (value, key) {#}
    {#                                    console.log(value.username);#}
    {#                                    return {#}
    {#                                        label: value.username,#}
    {#                                        value: value.username#}
    {#                                    }#}
    {#                                }));#}
    {#                            }#}
    {#                        });#}
    {#                    },#}
    {#                    focus: function () {#}
    {#                        // prevent value inserted on focus#}
    {#                        return false;#}
    {#                    },#}
    {#                    appendTo: "#memberUserAddModal",#}
    {#                    // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda#}
    {#                    select: function (event, ui) {#}
    {#                        var terms = split(this.value);#}
    {##}
    {#                        // remove the current input#}
    {#                        terms.pop();#}
    {##}
    {#                        // add the selected item#}
    {#                        terms.push(ui.item.value);#}
    {#                        // add placeholder to get the comma-and-space at the end#}
    {#                        terms.push("");#}
    {#                        this.value = terms.join(", ");#}
    {#                        return false;#}
    {#                    }#}
    {#                });#}
    {##}
    {#            $("#groups")#}
    {#            // don't navigate away from the field on tab when selecting an item#}
    {#                .on("keydown", function (event) {#}
    {#                    if (event.keyCode === $.ui.keyCode.TAB &&#}
    {#                        $(this).autocomplete("instance").menu.active) {#}
    {#                        event.preventDefault();#}
    {#                    }#}
    {#                })#}
    {#                .autocomplete({#}
    {#                    minLength: 0,#}
    {#                        source: function (request, response) {#}
    {#                            // delegate back to autocomplete, but extract the last term#}
    {#                            response($.ui.autocomplete.filter(#}
    {#                                    availableTags, extractLast(request.term)));#}
    {#                        },#}
    {#                    source: function (request, response) {#}
    {#                        $.ajax({#}
    {#                            url: "/identityManager/imgroup/autocompleteGroups",#}
    {#                            dataType: "jsonp",#}
    {#                            data: {#}
    {#                                term: extractLast(request.term)#}
    {#                            },#}
    {#                            success: function (data) {#}
    {#                                response(data);#}
    {#                            }#}
    {#                        });#}
    {#                    },#}
    {#                    focus: function () {#}
    {#                        // prevent value inserted on focus#}
    {#                        return false;#}
    {#                    },#}
    {#                    appendTo: "#memberGroupAddModal",#}
    {#                    select: function (event, ui) {#}
    {#                        var terms = split(this.value);#}
    {##}
    {#                        // remove the current input#}
    {#                        terms.pop();#}
    {#                        // add the selected item#}
    {#                        terms.push(ui.item.value);#}
    {#                        // add placeholder to get the comma-and-space at the end#}
    {#                        terms.push("");#}
    {#                        this.value = terms.join(", ");#}
    {#                        return false;#}
    {#                    }#}
    {#                });#}
    {##}
    {##}
    {#        });#}
    {#    </script>#}

{% endblock %}
