{% extends "identityManager/identityManager_app_template.html" %}
{% load i18n %}

{% block title %}{{ file }}{% endblock %}

{% block page_content %}
    {{ block.super }}

    <div class="container-fluid">
        <div class="row">

{#            {% include "identityManager/modal/addIdentityObjectModal.html" %}#}

            {% csrf_token %}

                {# Nesne listelerini goster#}
                <div class="col-lg-12">

                    <div class="card mt-4">
                        <div class="card-header"><h3>Group: {{ imgroup.name }}</h3></div>
                        <div class="card-body">
                            <p>{{ imgroup.description }}</p>

                            <div class="row">
                                <div class="col-md-3"><h3><span
                                        class="label label-primary">{% if imgroup.memberUsers.count == 0 %} No {% else %}{{ imgroup.memberUsers.count }}{% endif %} Member Users</span></h3></div>
                                <div class="col-md-3"><h3><span
                                        class="label label-primary">{% if imgroup.memberGroups.count == 0 %} No {% else %}{{ imgroup.memberGroups.count }}{% endif %} Member Groups</span></h3></div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-4">
                        <div class="card-header">
                            <div class="card-title">
                                <h7>Member Users</h7>
                                <div class="pull-right">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="wbdap_imgroup_member_user_list_table" class="display">
                                <thead>
                                <tr style="text-align: center">
                                    <th></th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Email</th>
                                    <th>Superuser</th>
                                    <th style="column-span: 4;text-align: center">Operations</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-header">
                            <div class="card-title">
                                <h7>Member Groups</h7>
                                <div class="pull-right">
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <table id="wbdap_imgroup_member_group_list_table" class="display">
                                <thead>
                                <tr style="text-align: center">
                                    <th></th>
                                    <th>Group Name</th>
                                    <th>Description</th>

                                    <th style="column-span: 4;text-align: center">Operations</th>
                                </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>

        </div>
    </div>
{% endblock %}





{% block application_body_jscript %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}identityManager/jscript/identityManager.js"></script>

    <script>
        $(document).ready(function () {
            var csrftoken = $("input[name='csrfmiddlewaretoken']").attr('value');

            function split(val) {
                return val.split(/,\s*/);
            }

            function extractLast(term) {
                return split(term).pop();
            }

            imgroup_memberuser_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imgroups/{{ imgroup.id }}/memberusers/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imgroups/{{ imgroup.id }}/memberusers/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            console.log(d)
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imgroups/{{ imgroup.id }}/memberusers/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imgroup_member_user_list_table",
                idSrc: 'id',
                fields: [{
                    id: "username",
                    label: "Username:",
                    name: "username",
                    type: "autoComplete",
                    opts: {
                        {#source: '/identityManager/user/autocompleteUsers',#}
                        minLength: 0,
                        autoFocus: false,
                        autocomplete: true,
                        source: function (request, response) {
                            $.ajax({
                                url: "/identityManager/imuser/autocompleteUsers",
                                dataType: "jsonp",
                                data: {
                                    term: extractLast(request.term)
                                },
                                success: function (data) {
                                    console.log($.map(data, function (value, key) {
                                        console.log(value.username);
                                        return {
                                            value: value.username
                                        }
                                    }));
                                    response($.map(data, function (value, key) {
                                        console.log(value.username);
                                        return {
                                            label: value.username + ":" + value.first_name + " " + value.last_name,
                                            value: value.username
                                        }
                                    }));
                                }
                            });
                        },
                        create: function () {
                            $(this).data('ui-autocomplete')._renderMenu = function (ul, items) {
                                var that = this;
                                $.each(items, function (index, item) {
                                    that._renderItemData(ul, item);
                                });
                                $(ul).find("li:odd").addClass("odd_auto_complete");
                            }

                        },

                        focus: function () {
                            // prevent value inserted on focus
                            return false;
                        },
                        appendTo: "#DTE",
                        // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda
                        select: function (event, ui) {
                            var terms = split(this.value);
                            // remove the current input
                            terms.pop();

                            // add the selected item
                            terms.push(ui.item.value);
                            // add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(", ");
                            return false;
                        }
                    }
                }, {
                    label: "Staus:",
                    type: "checkbox",
                    name: "active",
                    unselectedValue: "false",
                    options: [
                        {label: "Active", value: "true"}
                    ],
                }
                ]
            });


            $('#wbdap_imgroup_member_user_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imgroups/{{ imgroup.id }}/memberusers/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "username", orderData: 1, targets: 1},
                    {"data": "first_name", orderData: 1, targets: 1},
                    {"data": "last_name", orderData: 1, targets: 1},
                    {"data": "email", orderData: 2, targets: 2},
                    {
                        "data": function (row, type, val, meta) {
                            if (row.is_superuser) {
                                return "Superuser"
                            } else {
                                return "Not active"
                            }
                        }
                    },
                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imgroup/' + data.id + '/">Op1</a>';
                        },

                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {#{extend: "create", editor: imgroup_memberuser_editor},#}
                    {
                        extend: "create",
                        text: "Add User",
                        editor: imgroup_memberuser_editor,
                        className: "btn btn-primary",
                        {#action: function (e, node, config) {#}
                        {#Assagidaki sati calisiyor, ancak standart create formunu  kullanmak daha kolay#}
                        {#$('#memberUserAddModal').modal('show')#}
                        // {#},#}
                        {#formButtons: [#}
                        {#    {#}
                        {#        label: 'Cancel',#}
                        {#        fn: function () {#}
                        {#            this.close();#}
                        {#        }#}
                        {#    },#}
                        {#    'Create new row'#}
                        {#],#}
                        formMessage: 'Add new user to group.',
                        formTitle: '<b>Add user</b>',
                    },

                    {#{extend: "edit", editor: imgroup_memberuser_editor},#}
                    {extend: "remove", text: "Remove User", editor: imgroup_memberuser_editor}
                ]
            });
            {#----------------------------------------------------------------------#}

            imgroup_membergroup_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imgroups/{{ imgroup.id }}/membergroups/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imgroups/{{ imgroup.id }}/membergroups/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            console.log(d)
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imgroups/{{ imgroup.id }}/membergroups/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imgroup_member_group_list_table",
                idSrc: 'id',
                fields: [{
                    id: "name",
                    label: "Name:",
                    name: "name",
                    type: "autoComplete",
                    opts: {

                        minLength: 0,
                        autoFocus: false,
                        autocomplete: true,
                        source: function (request, response) {
                            $.ajax({
                                url: "/identityManager/imgroup/autocompleteGroups",
                                dataType: "jsonp",
                                data: {
                                    term: extractLast(request.term)
                                },
                                success: function (data) {
                                    console.log(data)
                                    response($.map(data, function (value, key) {

                                        return {
                                            label: value.name+": "+value.description,
                                            value: value.name
                                        }
                                    }));
                                }
                            });
                        },
                        create: function () {
                            $(this).data('ui-autocomplete')._renderMenu = function (ul, items) {
                                var that = this;
                                $.each(items, function (index, item) {
                                    that._renderItemData(ul, item);
                                });
                                $(ul).find("li:odd").addClass("odd_auto_complete");
                            }

                        },

                        focus: function () {
                            // prevent value inserted on focus
                            return false;
                        },
                        appendTo: "#DTE",
                        // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda
                        select: function (event, ui) {
                            var terms = split(this.value);
                            // remove the current input
                            terms.pop();

                            // add the selected item
                            terms.push(ui.item.value);
                            // add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(", ");
                            return false;
                        }
                    }
                }
                ]
            });

            $('#wbdap_imgroup_member_group_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imgroups/{{ imgroup.id }}/membergroups/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "name", orderData: 1, targets: 1},
                    {"data": "description", orderData: 1, targets: 1},

                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imgroup/' + data.id + '/">Subgroup Home</a>';
                        },

                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {
                        extend: "create",
                        text: "Add Group",
                        editor: imgroup_membergroup_editor,
                        className: "btn btn-primary",
                        formMessage: 'Add new group to group.',
                        formTitle: '<b>Add Group</b>',
                    },
                    {extend: "remove", text: "Remove Group", editor: imgroup_membergroup_editor}
                ]
            });

        });


    </script>
{##}
{##}
{#    <script>#}
{#        $(function () {#}
{##}
{#            function split(val) {#}
{#                return val.split(/,\s*/);#}
{#            }#}
{##}
{#            function extractLast(term) {#}
{#                return split(term).pop();#}
{#            }#}
{##}
{##}
{#            $("#users")#}
{#            // don't navigate away from the field on tab when selecting an item#}
{#                .on("keydown", function (event) {#}
{#                    if (event.keyCode === $.ui.keyCode.TAB &&#}
{#                        $(this).autocomplete("instance").menu.active) {#}
{#                        event.preventDefault();#}
{#                    }#}
{#                })#}
{#                .autocomplete({#}
{#                    minLength: 0,#}
                    {#                        source: function (request, response) {#}
                    {#                            // delegate back to autocomplete, but extract the last term#}
                    {#                            response($.ui.autocomplete.filter(#}
                    {#                                    availableTags, extractLast(request.term)));#}
                    {#                        },#}
{#                    source: function (request, response) {#}
{#                        $.ajax({#}
{#                            url: "/identityManager/imuser/autocompleteUsers",#}
{#                            dataType: "jsonp",#}
{#                            data: {#}
{#                                term: extractLast(request.term)#}
{#                            },#}
{#                            success: function (data) {#}
{#                                console.log($.map(data, function (value, key) {#}
{#                                    console.log(value.username);#}
{#                                    return {#}
{#                                        value: value.username#}
{#                                    }#}
{#                                }));#}
{#                                response($.map(data, function (value, key) {#}
{#                                    console.log(value.username);#}
{#                                    return {#}
{#                                        label: value.username,#}
{#                                        value: value.username#}
{#                                    }#}
{#                                }));#}
{#                            }#}
{#                        });#}
{#                    },#}
{#                    focus: function () {#}
{#                        // prevent value inserted on focus#}
{#                        return false;#}
{#                    },#}
{#                    appendTo: "#memberUserAddModal",#}
{#                    // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda#}
{#                    select: function (event, ui) {#}
{#                        var terms = split(this.value);#}
{##}
{#                        // remove the current input#}
{#                        terms.pop();#}
{##}
{#                        // add the selected item#}
{#                        terms.push(ui.item.value);#}
{#                        // add placeholder to get the comma-and-space at the end#}
{#                        terms.push("");#}
{#                        this.value = terms.join(", ");#}
{#                        return false;#}
{#                    }#}
{#                });#}
{##}
{#            $("#groups")#}
{#            // don't navigate away from the field on tab when selecting an item#}
{#                .on("keydown", function (event) {#}
{#                    if (event.keyCode === $.ui.keyCode.TAB &&#}
{#                        $(this).autocomplete("instance").menu.active) {#}
{#                        event.preventDefault();#}
{#                    }#}
{#                })#}
{#                .autocomplete({#}
{#                    minLength: 0,#}
                    {#                        source: function (request, response) {#}
                    {#                            // delegate back to autocomplete, but extract the last term#}
                    {#                            response($.ui.autocomplete.filter(#}
                    {#                                    availableTags, extractLast(request.term)));#}
                    {#                        },#}
{#                    source: function (request, response) {#}
{#                        $.ajax({#}
{#                            url: "/identityManager/imgroup/autocompleteGroups",#}
{#                            dataType: "jsonp",#}
{#                            data: {#}
{#                                term: extractLast(request.term)#}
{#                            },#}
{#                            success: function (data) {#}
{#                                response(data);#}
{#                            }#}
{#                        });#}
{#                    },#}
{#                    focus: function () {#}
{#                        // prevent value inserted on focus#}
{#                        return false;#}
{#                    },#}
{#                    appendTo: "#memberGroupAddModal",#}
{#                    select: function (event, ui) {#}
{#                        var terms = split(this.value);#}
{##}
{#                        // remove the current input#}
{#                        terms.pop();#}
{#                        // add the selected item#}
{#                        terms.push(ui.item.value);#}
{#                        // add placeholder to get the comma-and-space at the end#}
{#                        terms.push("");#}
{#                        this.value = terms.join(", ");#}
{#                        return false;#}
{#                    }#}
{#                });#}
{##}
{##}
{#        });#}
{#    </script>#}

{% endblock %}
