{% extends "identityManager/identityManager_app_template.html" %}
{% load i18n %}

{% block title %}{{ file }}{% endblock %}

{% block page_content %}

    {{ block.super }}
    <div class="container-fluid">
        <div class="row">

            {% include "identityManager/modal/addIdentityObjectModal.html" %}
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-2">
                    {# <h1 class="page-header">{{ user.first_name }} {{ user.last_name }}</h1>#}
                </div>

                {# Nesne listelerini goster#}
                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Role: {{ imrole.name }}</h3></div>
                        <div class="panel-body">
                            <p><b>Description :</b> {{ imrole.description }}</p>

                            <div class="row">
                                <div class="col-md-1"><h3><span
                                        class="label label-primary">{{ imrole.assigned_groups.count }} Groups</span></h3>
                                </div>
                                <div class="col-md-1"><h3><span
                                        class="label label-primary">{{ imrole.assigned_users.count }} Users</span></h3>
                                </div>
                                <div class="col-md-1"><h3><span
                                        class="label label-primary">{{ imrole.permissions.count }} Permissions</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h7>Permissions</h7>
                                {#                                <div class="pull-right">#}
                                {#                                    <button type="button" class="btn btn-success btn-xs" data-toggle="modal"#}
                                {#                                            data-target="#permissionAddModal">Add Permissions to Role#}
                                {#                                    </button>#}
                                {#                                </div>#}
                            </div>

                        </div>
                        <div class="panel-body">
                            <table id="wbdap_imrole_permissions_list_table" class="display">
                                <thead>
                                <tr style="text-align: center">
                                    <th></th>
                                    <th>Application Name</th>
                                    <th>Model</th>
                                    <th>Permission</th>

                                    <th style="column-span: 4;text-align: center">Operations</th>
                                </tr>
                                </thead>
                            </table>
                            {##}
                            {#                            <div class="row">#}


                            {#                                <table class="table table-striped table-hover">#}
                            {#                                    <thead>#}
                            {#                                    <tr style="text-align: center">#}
                            {#                                        <th>ID</th>#}
                            {#                                        <th>Application</th>#}
                            {#                                        <th>Code Name</th>#}
                            {#                                        <th>Name</th>#}
                            {##}
                            {#                                        <th style="column-span: 4;text-align: center">Operations</th>#}
                            {#                                    </tr>#}
                            {#                                    </thead>#}
                            {#                                    <tbody>#}
                            {##}
                            {#                                    {% for perm in permissions %}#}
                            {##}
                            {#                                        <tr>#}
                            {#                                            <td>{{ perm.id }}</td>#}
                            {##}
                            {##}
                            {#                                            <td>#}
                            {#                                                <a href="{% url 'identityManager:profileView' user.id %}">{{ perm.content_type.app_label }}</a>#}
                            {#                                            </td>#}
                            {##}
                            {#                                            <td>{{ perm.codename }}</td>#}
                            {##}
                            {#                                            <td>{{ perm.name }}</td>#}
                            {##}
                            {##}
                            {##}
                            {#                                            <td style="text-align: center">#}
                            {#                                                <a href="/identityManager/permission/update/{{ perm.id }}/"><i#}
                            {#                                                        class="fa fa-pencil"#}
                            {#                                                        aria-hidden="true"#}
                            {#                                                        data-toggle="tooltip"#}
                            {#                                                        data-placement="left"#}
                            {#                                                        title="Edit"></i></a>&nbsp;&nbsp;&nbsp;#}
                            {##}
                            {#                                                <a href="permission/remove/{{ perm.id }}/"><i class="fa fa-trash"#}
                            {#                                                                                              aria-hidden="true"#}
                            {#                                                                                              data-toggle="tooltip"#}
                            {#                                                                                              data-placement="left"#}
                            {#                                                                                              title="Remove Permission From Role"></i></a>#}
                            {#                                            </td>#}
                            {#                                        </tr>#}
                            {##}
                            {#                                    {% endfor %}#}
                            {#                                    </tbody>#}
                            {#                                </table>#}


                            {#                            </div>#}

                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h7>Assigned Users</h7>
                                {#                                <div class="pull-right">#}
                                {#                                    <button type="button" class="btn btn-success btn-xs" data-toggle="modal"#}
                                {#                                            data-target="#memberUserAddModal">Assign Users to Role#}
                                {#                                    </button>#}
                                {#                                </div>#}
                            </div>

                        </div>
                        <div class="panel-body">

                            <table id="wbdap_imrole_assigned_user_list_table" class="display">
                                <thead>
                                <tr style="text-align: center">
                                    <th></th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Email</th>
                                    <th>Superuser</th>
                                    <th style="column-span: 4;text-align: center">Operations</th>
                                </tr>
                                </thead>
                            </table>

                            {#                            <div class="row">#}

                            {#                                <table class="table table-striped table-hover">#}
                            {#                                    <thead>#}
                            {#                                    <tr style="text-align: center">#}
                            {#                                        <th>ID</th>#}
                            {#                                        <th>Username</th>#}
                            {#                                        <th>Name</th>#}
                            {#                                        <th>Surname</th>#}
                            {#                                        <th>Email</th>#}
                            {#                                        <th>Admin</th>#}
                            {#                                        <th>Status</th>#}
                            {#                                        <th style="column-span: 4;text-align: center">Operations</th>#}
                            {#                                    </tr>#}
                            {#                                    </thead>#}
                            {#                                    <tbody>#}
                            {##}
                            {#                                    {% for user in users %}#}
                            {##}
                            {#                                        <tr>#}
                            {#                                            <td>{{ user.id }}</td>#}
                            {##}
                            {##}
                            {#                                            <td>#}
                            {#                                                <a href="{% url 'identityManager:profileView' user.id %}">{{ user.username }}</a>#}
                            {#                                            </td>#}
                            {##}
                            {#                                            <td>{{ user.first_name }}</td>#}
                            {##}
                            {#                                            <td>{{ user.last_name }}</td>#}
                            {#                                            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>#}
                            {#                                            <td>{% if  user.is_superuser %}#}
                            {#                                                <span class="label label-success">Yes</span>#}
                            {#                                            {% else %}#}
                            {#                                                <span class="label label-danger">No</span>#}
                            {#                                            {% endif %}</td>#}
                            {#                                            <td>{% if  user.is_active %}#}
                            {#                                                <span class="label label-success">Active</span>#}
                            {#                                            {% else %}#}
                            {#                                                <span class="label label-danger">Locked</span>#}
                            {#                                            {% endif %}</td>#}
                            {#                                            <td style="text-align: center">#}
                            {#                                                <a href="/identityManager/user/update/{{ user.id }}/"><i#}
                            {#                                                        class="fa fa-pencil"#}
                            {#                                                        aria-hidden="true"#}
                            {#                                                        data-toggle="tooltip"#}
                            {#                                                        data-placement="left"#}
                            {#                                                        title="Edit"></i></a>&nbsp;&nbsp;&nbsp;#}
                            {#                                                <a href="changePasswd"><i class="fa fa-key" aria-hidden="true"#}
                            {#                                                                          data-toggle="tooltip"#}
                            {#                                                                          data-placement="left"#}
                            {#                                                                          title="Change Password"></i></a>&nbsp;&nbsp;&nbsp;#}
                            {#                                                <a href="lock/{{ user.id }}"><i class="fa fa-lock" aria-hidden="true"#}
                            {#                                                                                data-toggle="tooltip"#}
                            {#                                                                                data-placement="left"#}
                            {#                                                                                title="Lock Account"></i></a>&nbsp;&nbsp;&nbsp;#}
                            {#                                                <a href="memberUser/remove/{{ user.id }}/"><i class="fa fa-trash"#}
                            {#                                                                                              aria-hidden="true"#}
                            {#                                                                                              data-toggle="tooltip"#}
                            {#                                                                                              data-placement="left"#}
                            {#                                                                                              title="Remove User From Group"></i></a>#}
                            {#                                            </td>#}
                            {#                                        </tr>#}
                            {##}
                            {#                                    {% endfor %}#}
                            {#                                    </tbody>#}
                            {#                                </table>#}


                            {#                            </div>#}

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h7>Member Groups</h7>
                                {#                                <div class="pull-right">#}
                                {#                                    <button type="button" class="btn btn-success btn-xs" data-toggle="modal"#}
                                {#                                            data-target="#memberGroupAddModal">Assign Groups to Role#}
                                {#                                    </button>#}
                                {#                                </div>#}
                            </div>

                        </div>
                        <div class="panel-body">
                            <table id="wbdap_imrole_assigned_group_list_table" class="display">
                                <thead>
                                <tr style="text-align: center">
                                    <th></th>

                                    <th>Name</th>
                                    <th>Description</th>
                                    <th style="column-span: 4;text-align: center">Operations</th>
                                </tr>
                                </thead>
                            </table>

                            {#                            <div class="row">#}
                            {#                                {% for user in users %}#}
                            {#                                    <div class="col-md-1">#}
                            {#                                        <div class="checkbox">#}
                            {#                                            <label><input type="checkbox" value="">{{ user.first_name | capfirst }} {{ user }}</label>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                {% endfor %}#}
                            {#                            #}
                            {#                                <table class="table table-striped table-hover">#}
                            {#                                    <thead>#}
                            {#                                    <tr style="text-align: center">#}
                            {#                                        <th>ID</th>#}
                            {#                                        <th>Group Name</th>#}
                            {#                                        <th>Description</th>#}
                            {##}
                            {#                                        <th>Status</th>#}
                            {#                                        <th style="column-span: 4;text-align: center">Operations</th>#}
                            {#                                    </tr>#}
                            {#                                    </thead>#}
                            {#                                    <tbody>#}
                            {##}
                            {#                                    {% for group in groups %}#}
                            {##}
                            {#                                        <tr>#}
                            {#                                            <td>{{ group.id }}</td>#}
                            {##}
                            {##}
                            {#                                            <td>#}
                            {#                                                <a href="{% url 'identityManager:imgroup_home' group.id %}">{{ group.name }}</a>#}
                            {#                                            </td>#}
                            {##}
                            {#                                            <td>{{ group.description }}</td>#}
                            {##}
                            {#                                            <td>{% if  group.active %}#}
                            {#                                                <span class="label label-success">Active</span>#}
                            {#                                            {% else %}#}
                            {#                                                <span class="label label-danger">Locked</span>#}
                            {#                                            {% endif %}</td>#}
                            {#                                            <td style="text-align: center">#}
                            {#                                                <a href="/identityManager/group/update/{{ user.id }}/"><i#}
                            {#                                                        class="fa fa-pencil"#}
                            {#                                                        aria-hidden="true"#}
                            {#                                                        data-toggle="tooltip"#}
                            {#                                                        data-placement="left"#}
                            {#                                                        title="Edit"></i></a>&nbsp;&nbsp;&nbsp;#}
                            {##}
                            {#                                                <a href="lock/{{ user.id }}"><i class="fa fa-lock" aria-hidden="true"#}
                            {#                                                                                data-toggle="tooltip"#}
                            {#                                                                                data-placement="left"#}
                            {#                                                                                title="Lock Group"></i></a>&nbsp;&nbsp;&nbsp;#}
                            {#                                                <a href="memberGroup/remove/{{ group.id }}/"><i class="fa fa-trash"#}
                            {#                                                                                                aria-hidden="true"#}
                            {#                                                                                                data-toggle="tooltip"#}
                            {#                                                                                                data-placement="left"#}
                            {#                                                                                                title="Remove Group From Group"></i></a>#}
                            {#                                            </td>#}
                            {#                                        </tr>#}
                            {##}
                            {#                                    {% endfor %}#}
                            {#                                    </tbody>#}
                            {#                                </table>#}


                            {#                            </div>#}

                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    {#            <h1 class="page-header">{{ user.first_name }} {{ user.last_name }}</h1>#}
                </div>

            </div>

        </div>
    </div>


{% endblock %}

{% block body_jscript %}
    {{ block.super }}

    <script>

        $(document).ready(function () {
            var csrftoken = $("input[name='csrfmiddlewaretoken']").attr('value');

            function split(val) {
                return val.split(/,\s*/);
            }

            function extractLast(term) {
                return split(term).pop();
            }


            imrole_permission_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imroles/{{ imrole.id }}/permissions/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imroles/{{ imrole.id }}/permissions/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            console.log(d)
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imroles/{{ imrole.id }}/permissions/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imrole_permissions_list_table",
                idSrc: 'id',
                fields: [{
                    {#    id: "appname",#}
                    {#    label: "Application Name:",#}
                    {#    name: "appname",#}
                    {#    type: "autoComplete",#}
                    {#    opts: {#}
                    {##}
                    {#        minLength: 0,#}
                    {#        autoFocus: false,#}
                    {#        autocomplete: true,#}
                    {#        source: function (request, response) {#}
                    {#            $.ajax({#}
                    {#                url: "/applicationManager/autocompleteAppnames",#}
                    {#                dataType: "jsonp",#}
                    {#                data: {#}
                    {#                    term: extractLast(request.term)#}
                    {#                },#}
                    {#                success: function (data) {#}
                    {#                    #}
                    {#                    response($.map(data, function (value, key) {#}
                    {##}
                    {#                        return {#}
                    {#                            label: value.appname + ": " + value.description,#}
                    {#                            value: value.appname#}
                    {#                        }#}
                    {#                    }));#}
                    {#                }#}
                    {#            });#}
                    {#        },#}
                    {#        create: function () {#}
                    {#            $(this).data('ui-autocomplete')._renderMenu = function (ul, items) {#}
                    {#                var that = this;#}
                    {#                $.each(items, function (index, item) {#}
                    {#                    that._renderItemData(ul, item);#}
                    {#                });#}
                    {#                $(ul).find("li:odd").addClass("odd_auto_complete");#}
                    {#            }#}
                    {##}
                    {#        },#}
                    {##}
                    {#        focus: function () {#}
                    {#            // prevent value inserted on focus#}
                    {#            return false;#}
                    {#        },#}
                    {#        appendTo: "body",#}
                    {#        // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda#}
                    {#        select: function (event, ui) {#}
                    {#            var terms = split(this.value);#}
                    {#            // remove the current input#}
                    {#            terms.pop();#}
                    {##}
                    {#            // add the selected item#}
                    {#            terms.push(ui.item.value);#}
                    {#            // add placeholder to get the comma-and-space at the end#}
                    {#            terms.push("");#}
                    {#            this.value = terms.join(", ");#}
                    {#            return false;#}
                    {#        }#}
                    {#    }#}
                    //               {#}, {#}
                    {#    id: "codename",#}
                    {#    label: "Perm:",#}
                    {#    name: "codename",#}
                    {#    type: "autoComplete",#}
                    //             {#}, {#}
                    id: "perm",
                    label: "Perm:",
                    name: "perm",
                    type: "autoComplete",
                    opts: {

                        minLength: 0,
                        autoFocus: false,
                        autocomplete: true,
                        source: function (request, response) {
                            $.ajax({
                                url: "/identityManager/imrole/autocompletePermissions",
                                dataType: "jsonp",
                                data: {
                                    term: extractLast(request.term)
                                },
                                success: function (data) {

                                    response($.map(data, function (value, key) {

                                        return {
                                            label: value.app_label + ":" + value.codename + ":" + value.name,
                                            value: value.app_label + ":" + value.codename + ":" + value.name
                                        }
                                    }));
                                }
                            });
                        },
                        create: function () {
                            $(this).data('ui-autocomplete')._renderMenu = function (ul, items) {
                                var that = this;
                                $.each(items, function (index, item) {
                                    that._renderItemData(ul, item);
                                });
                                $(ul).find("li:odd").addClass("odd_auto_complete");
                            }

                        },

                        focus: function () {
                            // prevent value inserted on focus
                            return false;
                        },
                        appendTo: "body",
                        // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda
                        select: function (event, ui) {
                            var terms = split(this.value);
                            // remove the current input
                            terms.pop();

                            // add the selected item
                            terms.push(ui.item.value);
                            // add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(", ");
                            return false;
                        }
                    }
                }
                ]
            });


            imrole_permission_editor.on('open', function (e, mode, action) {
                console.log('editor opened');
            });

            imrole_permission_editor.on('close', function () {
                console.log('editor closed');
            });


            {#imrole_permission_editor.dependent('appname', function (val,data,callback) {#}
            {#    console.log('works');#}
            {#    console.log(data);#}
            {#return val === 'Simple' ?#}
            {#    {hide: ['position', 'office', 'extn', 'start_date', 'salary']} :#}
            {#    {show: ['position', 'office', 'extn', 'start_date', 'salary']};#}
//            {#});#}

            $('#wbdap_imrole_permissions_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imroles/{{ imrole.id }}/permissions/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "content_type.app_label", orderData: 1, targets: 1},
                    {"data": "content_type.model", orderData: 2, targets: 2},
                    {"data": "name", orderData: 3, targets: 3},




                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imgroup/' + data.id + '/">Op1</a>';
                        },

                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {
                        extend: "create",
                        text: "Add Permission",
                        editor: imrole_permission_editor,
                        className: "btn btn-primary",
                        formMessage: 'Add new permission to role.',
                        formTitle: '<b>Add Permission</b>',
                    },
                    {extend: "remove", text: "Remove Permission", editor: imrole_permission_editor}
                ]
            });


            {#---------------------------------------------------------------------------------------#}

            imrole_assigneduser_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imroles/{{ imrole.id }}/assignedusers/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imroles/{{ imrole.id }}/assignedusers/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            console.log(d)
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imroles/{{ imrole.id }}/assignedusers/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imrole_assigned_user_list_table",
                idSrc: 'id',
                fields: [{
                    id: "username",
                    label: "Username:",
                    name: "username",
                    type: "autoComplete",
                    opts: {

                        minLength: 0,
                        autoFocus: false,
                        autocomplete: true,
                        source: function (request, response) {
                            $.ajax({
                                url: "/identityManager/imuser/autocompleteUsers",
                                dataType: "jsonp",
                                data: {
                                    term: extractLast(request.term)
                                },
                                success: function (data) {
                                    console.log(data)
                                    response($.map(data, function (value, key) {

                                        return {
                                            label: value.username + ":" + value.first_name + " " + value.last_name,
                                            value: value.username
                                        }
                                    }));
                                }
                            });
                        },
                        create: function () {
                            $(this).data('ui-autocomplete')._renderMenu = function (ul, items) {
                                var that = this;
                                $.each(items, function (index, item) {
                                    that._renderItemData(ul, item);
                                });
                                $(ul).find("li:odd").addClass("odd_auto_complete");
                            }

                        },

                        focus: function () {
                            // prevent value inserted on focus
                            return false;
                        },
                        appendTo: "body",
                        // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda
                        select: function (event, ui) {
                            var terms = split(this.value);
                            // remove the current input
                            terms.pop();

                            // add the selected item
                            terms.push(ui.item.value);
                            // add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(", ");
                            return false;
                        }
                    }
                }
                ]
            });

            $('#wbdap_imrole_assigned_user_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imroles/{{ imrole.id }}/assignedusers/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "username", orderData: 1, targets: 1},
                    {"data": "first_name", orderData: 1, targets: 1},
                    {"data": "last_name", orderData: 1, targets: 1},
                    {"data": "email", orderData: 1, targets: 1},
                    {"data": "is_superuser", orderData: 1, targets: 1},

                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imgroup/' + data.id + '/">Op1</a>';
                        },

                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {
                        extend: "create",
                        text: "Assign User",
                        editor: imrole_assigneduser_editor,
                        className: "btn btn-primary",
                        formMessage: 'Assign new user to role.',
                        formTitle: '<b>Assing User</b>',
                    },
                    {extend: "remove", text: "Remove User", editor: imrole_assigneduser_editor}
                ]
            });


            {#---------------------------------------------------------------------------------------#}


            imrole_assignedgroup_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imroles/{{ imrole.id }}/assignedgroups/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imroles/{{ imrole.id }}/assignedgroups/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            console.log(d)
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imroles/{{ imrole.id }}/assignedgroups/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imrole_assigned_group_list_table",
                idSrc: 'id',
                fields: [{
                    id: "name",
                    label: "Name:",
                    name: "name",
                    type: "autoComplete",
                    opts: {

                        minLength: 0,
                        autoFocus: false,
                        autocomplete: true,
                        source: function (request, response) {
                            $.ajax({
                                url: "/identityManager/imgroup/autocompleteGroups",
                                dataType: "jsonp",
                                data: {
                                    term: extractLast(request.term)
                                },
                                success: function (data) {
                                    console.log(data)
                                    response($.map(data, function (value, key) {

                                        return {
                                            label: value.name + ": " + value.description,
                                            value: value.name
                                        }
                                    }));
                                }
                            });
                        },
                        create: function () {
                            $(this).data('ui-autocomplete')._renderMenu = function (ul, items) {
                                var that = this;
                                $.each(items, function (index, item) {
                                    that._renderItemData(ul, item);
                                });
                                $(ul).find("li:odd").addClass("odd_auto_complete");
                            }

                        },

                        focus: function () {
                            // prevent value inserted on focus
                            return false;
                        },
                        appendTo: "body",
                        // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda
                        select: function (event, ui) {
                            var terms = split(this.value);
                            // remove the current input
                            terms.pop();

                            // add the selected item
                            terms.push(ui.item.value);
                            // add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(", ");
                            return false;
                        }
                    }
                }
                ]
            });

            $('#wbdap_imrole_assigned_group_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imroles/{{ imrole.id }}/assignedgroups/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "name", orderData: 1, targets: 1},
                    {"data": "description", orderData: 1, targets: 1},

                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imgroup/' + data.id + '/">Subgroup Home</a>';
                        },

                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {
                        extend: "create",
                        text: "Assing Group",
                        editor: imrole_assignedgroup_editor,
                        className: "btn btn-primary",
                        formMessage: 'Add new group to group.',
                        formTitle: '<b>Assing Group</b>',
                    },
                    {extend: "remove", text: "Remove Group", editor: imrole_assignedgroup_editor}
                ]
            });

        });


    </script>
{% endblock %}
