{% extends 'projectCore/startbootstrap-sb-admin-2-gh-pages/sb_admin2_index_template.html' %}
{% load i18n %}
{% load static %}


{% block head__stylesheet %}
    {{ block.super }}
      <style>
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
  </style>
{% endblock %}




{% block page_content %}

    <div class="container-fluid">
        <div class="row">

            {#            {% include "identityManager/modal/addIdentityObjectModal.html" %}#}
            {% csrf_token %}


            {# Nesne listelerini goster#}
            <div class="col-lg-12">

                <div class="card mt-4 shadow">
                    <div class="card-header bg-primary text-gray-100">Role: {{ imrole.name }}</div>
                    <div class="card-body">
                        <p><b>Description :</b> {{ imrole.description }}</p>

                        <div class="row">
                            <div class="col-sm"><span
                                    class="label label-primary">{{ imrole.assigned_groups.count }} Groups</span>
                            </div>
                            <div class="col-sm"><span
                                    class="label label-primary">{{ imrole.assigned_users.count }} Users</span>
                            </div>
                            <div class="col-sm"><span
                                    class="label label-primary">{{ imrole.permissions.count }} Permissions</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card mt-4 border-left-primary shadow">
                    <div class="card-header">
                        Permissions
                    </div>
                    <div class="card-body">
                        <table id="wbdap_imrole_permissions_list_table" class="display table table-hover table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Application Name</th>
                                <th>Model</th>
                                <th>Permission</th>
                                <th style="column-span: 4;text-align: center">Operations</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>


                <div class="card mt-4 border-left-primary shadow">
                    <div class="card-header">
                        Assigned Users
                    </div>
                    <div class="card-body">

                        <table id="wbdap_imrole_assigned_user_list_table" class="display table table-hover table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Email</th>
                                <th>Superuser</th>
                                <th style="column-span: 4;text-align: center">Operations</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="card mt-4 border-left-primary shadow">
                    <div class="card-header">
                        Assingned Groups
                    </div>
                    <div class="card-body">
                        <table id="wbdap_imrole_assigned_group_list_table" class="display table table-hover table-striped">
                            <thead>
                            <tr>
                                <th></th>

                                <th>Name</th>
                                <th>Description</th>
                                <th style="column-span: 4;text-align: center">Operations</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block body__jscript %}
    {{ block.super }}

    <script>

        $(document).ready(function () {
            var csrftoken = $("input[name='csrfmiddlewaretoken']").attr('value');

            function split(val) {
                return val.split(/,\s*/);
            }

            function extractLast(term) {
                return split(term).pop();
            }


            var imrole_permission_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imrole/{{ imrole.id }}/permission/add/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imrole/{{ imrole.id }}/permission/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            console.log(d)
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imrole/{{ imrole.id }}/permission/_id_/delete/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imrole_permissions_list_table",
                idSrc: 'id',
                fields: [{
                    id: "perm",
                    label: "Perm:",
                    name: "perm",
                    type: "autoComplete",
                    opts: {

                        minLength: 0,
                        autoFocus: false,
                        autocomplete: true,
                        source: function (request, response) {
                            $.ajax({
                                url: "/identityManager/imrole/autocompletePermissions",
                                dataType: "jsonp",
                                data: {
                                    term: extractLast(request.term)
                                },
                                success: function (data) {

                                    response($.map(data, function (value, key) {

                                        return {
                                            label: value.app_label + ":" + value.codename + ":" + value.name,
                                            value: value.app_label + ":" + value.codename + ":" + value.name
                                        }
                                    }));
                                }
                            });
                        },
                        create: function () {
                            $(this).data('ui-autocomplete')._renderMenu = function (ul, items) {
                                var that = this;
                                $.each(items, function (index, item) {
                                    that._renderItemData(ul, item);
                                });
                                $(ul).find("li:odd").addClass("odd_auto_complete");
                            }

                        },

                        focus: function () {
                            // prevent value inserted on focus
                            return false;
                        },
                        appendTo: "body",
                        // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda
                        select: function (event, ui) {
                            var terms = split(this.value);
                            // remove the current input
                            terms.pop();

                            // add the selected item
                            terms.push(ui.item.value);
                            // add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(", ");
                            return false;
                        }
                    }
                }
                ]
            });


            imrole_permission_editor.on('open', function (e, mode, action) {
                console.log('editor opened');
            });

            imrole_permission_editor.on('close', function () {
                console.log('editor closed');
            });


            {#imrole_permission_editor.dependent('appname', function (val,data,callback) {#}
            {#    console.log('works');#}
            {#    console.log(data);#}
            {#return val === 'Simple' ?#}
            {#    {hide: ['position', 'office', 'extn', 'start_date', 'salary']} :#}
            {#    {show: ['position', 'office', 'extn', 'start_date', 'salary']};#}
//            {#});#}

            var imrole_peermissions_table= $('#wbdap_imrole_permissions_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imrole/{{ imrole.id }}/permission/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "content_type.app_label", orderData: 1, targets: 1},
                    {"data": "content_type.model", orderData: 2, targets: 2},
                    {"data": "name", orderData: 3, targets: 3},
                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imgroup/' + data.id + '/">Op1</a>';
                        },

                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {
                        extend: "create",
                        text: "Add Permission",
                        editor: imrole_permission_editor,
                        className: "btn btn-primary",
                        formMessage: 'Add new permission to role.',
                        formTitle: '<b>Add Permission</b>',
                    },
                    {extend: "remove", text: "Remove Permission", editor: imrole_permission_editor}
                ]
            });


            {#---------------------------------------------------------------------------------------#}

            var imrole_assigneduser_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imrole/{{ imrole.id }}/user/add/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imrole/{{ imrole.id }}/user/_id_/edit/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            console.log(d)
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imrole/{{ imrole.id }}/user/_id_/delete/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imrole_assigned_user_list_table",
                idSrc: 'id',
                fields: [{
                    id: "username",
                    label: "Username:",
                    name: "username",
                    type: "autoComplete",
                    opts: {

                        minLength: 0,
                        autoFocus: false,
                        autocomplete: true,
                        source: function (request, response) {
                            $.ajax({
                                url: "/identityManager/imuser/autocompleteUsers",
                                dataType: "jsonp",
                                data: {
                                    term: extractLast(request.term)
                                },
                                success: function (data) {
                                    console.log(data)
                                    response($.map(data, function (value, key) {

                                        return {
                                            label: value.username + ":" + value.first_name + " " + value.last_name,
                                            value: value.username
                                        }
                                    }));
                                }
                            });
                        },
                        create: function () {
                            $(this).data('ui-autocomplete')._renderMenu = function (ul, items) {
                                var that = this;
                                $.each(items, function (index, item) {
                                    that._renderItemData(ul, item);
                                });
                                $(ul).find("li:odd").addClass("odd_auto_complete");
                            }

                        },

                        focus: function () {
                            // prevent value inserted on focus
                            return false;
                        },
                        appendTo: "body",
                        // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda
                        select: function (event, ui) {
                            var terms = split(this.value);
                            // remove the current input
                            terms.pop();

                            // add the selected item
                            terms.push(ui.item.value);
                            // add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(", ");
                            return false;
                        }
                    }
                }
                ]
            });

            $('#wbdap_imrole_assigned_user_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imrole/{{ imrole.id }}/user/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "username", orderData: 1, targets: 1},
                    {"data": "first_name", orderData: 1, targets: 1},
                    {"data": "last_name", orderData: 1, targets: 1},
                    {"data": "email", orderData: 1, targets: 1},
                    {"data": "is_superuser", orderData: 1, targets: 1},

                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imgroup/' + data.id + '/">Op1</a>';
                        },

                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {
                        extend: "create",
                        text: "Assign User",
                        editor: imrole_assigneduser_editor,
                        className: "btn btn-primary",
                        formMessage: 'Assign new user to role.',
                        formTitle: '<b>Assing User</b>',
                    },
                    {extend: "remove", text: "Remove User", editor: imrole_assigneduser_editor}
                ]
            });


            {#---------------------------------------------------------------------------------------#}


            imrole_assignedgroup_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imrole/{{ imrole.id }}/group/add/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imrole/{{ imrole.id }}/group/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            console.log(d)
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imrole/{{ imrole.id }}/group/_id_/delete/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imrole_assigned_group_list_table",
                idSrc: 'id',
                fields: [{
                    id: "name",
                    label: "Name:",
                    name: "name",
                    type: "autoComplete",
                    opts: {

                        minLength: 0,
                        autoFocus: false,
                        autocomplete: true,
                        source: function (request, response) {
                            $.ajax({
                                url: "/identityManager/imgroup/autocompleteGroups",
                                dataType: "jsonp",
                                data: {
                                    term: extractLast(request.term)
                                },
                                success: function (data) {
                                    console.log(data)
                                    response($.map(data, function (value, key) {

                                        return {
                                            label: value.name + ": " + value.description,
                                            value: value.name
                                        }
                                    }));
                                }
                            });
                        },
                        create: function () {
                            $(this).data('ui-autocomplete')._renderMenu = function (ul, items) {
                                var that = this;
                                $.each(items, function (index, item) {
                                    that._renderItemData(ul, item);
                                });
                                $(ul).find("li:odd").addClass("odd_auto_complete");
                            }

                        },

                        focus: function () {
                            // prevent value inserted on focus
                            return false;
                        },
                        appendTo: "body",
                        // Asagidaki kisim istegin icerigi ile ilgili kisim; donen cevap success kisminda
                        select: function (event, ui) {
                            var terms = split(this.value);
                            // remove the current input
                            terms.pop();

                            // add the selected item
                            terms.push(ui.item.value);
                            // add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(", ");
                            return false;
                        }
                    }
                }
                ]
            });

            $('#wbdap_imrole_assigned_group_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imrole/{{ imrole.id }}/group/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "name", orderData: 1, targets: 1},
                    {"data": "description", orderData: 1, targets: 1},

                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imgroup/' + data.id + '/">Subgroup Home</a>';
                        },

                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {
                        extend: "create",
                        text: "Assing Group",
                        editor: imrole_assignedgroup_editor,
                        className: "btn btn-primary",
                        formMessage: 'Add new group to Role.',
                        formTitle: '<b>Assing Group</b>',
                    },
                    {extend: "remove", text: "Remove Group", editor: imrole_assignedgroup_editor}
                ]
            });

        });


    </script>
{% endblock %}
