{% extends 'projectCore/sb_admin2_index_template.html' %}
{% load static %}


{% block page_content %}

        {% csrf_token %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Identity Manager</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Roles</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="wbdap_imrole_list_table" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                    <th>Role Name</th>
                    <th>Description</th>
                    <th>Operations</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}


{% block body__jscript %}
    {{ block.super }}

    <script>
        $(document).ready(function () {
            var csrftoken = $("input[name='csrfmiddlewaretoken']").attr('value');


            /* Formatting function for row details - modify as you need */
            function format(d) {
                // `d` is the original data object for the row
                return '<small><table class="table table-hover text-muted" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                    '<tr>' +
                    '<td>Email:</td>' +
                    '<td>' + d.email + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Last login:</td>' +
                    '<td>' + d.last_login + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Extra info:</td>' +
                    '<td>And any further details here (images etc)...</td>' +
                    '</tr>' +
                    '</table></small>';
            }

            {#------------------------------------------------------------------------------------------------------#}

            imrole_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imrole/create/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                        success: function (d) {
                            console.log('success');
                            imrole_list_table.row.add(d).draw(false)
                        }
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imrole/_id_/edit/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            {#console.log(d)#}
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },
                        success: function (d) {
                            console.log('success');
                            imrole_list_table.row.add(d).draw(false)
                        }
                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imrole/_id_/delete',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imrole_list_table",
                idSrc: 'id',
                fields: [{
                    label: "Role Name:",
                    name: "name"
                }, {
                    label: "Description:",
                    name: "description"
                }
                ]
            });


            var imrole_list_table = $('#wbdap_imrole_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imrole/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {#{#}
                    {#    data: null,#}
                    {#    defaultContent: '',#}
                    {#    className: 'select-checkbox not_editable',#}
                    {#    orderable: false#}
                    //{#},#}
                    {"data": "name", orderData: 1, targets: 1},
                    {"data": "description", orderData: 2, targets: 2},
                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imrole/' + data.id + '">Home</a>';
                        },
                        {#defaultContent: function (d) {#}
                        {#    var link = '<a href="' + d.id + '" class="editor_edit">Home</a>';#}
                        {#    return link;#}
                        //{#},#}
                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {extend: "create", editor: imrole_editor},
                    {extend: "edit", editor: imrole_editor},
                    {extend: "remove", editor: imrole_editor}
                ]
            });

            {#------------------------------------------------------------------------------------------------------#}

        })
        ;

    </script>

{% endblock %}