{#<div id="jsGrid"></div>#}
{% csrf_token %}

{#<div class="main">#}

    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Roles
            </div>

        </div>
        <div class="card-body">
            <table id="wbdap_imrole_list_table" class="display">
                <thead>
                <tr style="text-align: center">
                    <th></th>
                    <th style="column-span: 4;text-align: center">Name</th>
                    <th style="column-span: 4;text-align: center">Description</th>
                    <th style="column-span: 4;text-align: center">Operations</th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
{#</div>#}
