{% extends 'projectCore/sb_admin2_index_template.html' %}
{% load static %}


{% block page_content %}

        {% csrf_token %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Identity Manager</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Users</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered display" id="wbdap_imuser_list_table" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Superuser</th>
                        <th>Staff</th>
                        <th>State</th>
                        <th>Operations</th>
                    </tr>
                  </thead>

                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}


{% block body__jscript %}
    {{ block.super }}

    <script>
        $(document).ready(function () {
            var csrftoken = $("input[name='csrfmiddlewaretoken']").attr('value');

            /* Formatting function for row details - modify as you need */
            function format(d) {
                // `d` is the original data object for the row
                return '<small><table class="table table-hover text-muted" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                    '<tr>' +
                    '<td>Email:</td>' +
                    '<td>' + d.email + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Last login:</td>' +
                    '<td>' + d.last_login + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Extra info:</td>' +
                    '<td>And any further details here (images etc)...</td>' +
                    '</tr>' +
                    '</table></small>';
            }

            {#------------------------------------------------------------------------------------------------------#}

            imuser_editor = new $.fn.dataTable.Editor({

                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imuser/create/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                        success: function (d) {
                            console.log('success');
                            imuser_table.row.add(d).draw(false)
                        }
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imuser/_id_/edit/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            {#console.log(d)#}
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },
                        success: function (d) {
                            console.log('success');
                            imuser_table.row.add(d).draw(false)
                        }

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imuser/_id_/delete/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            console.log(ndata);
                            return ndata;
                        }
                    }
                },
                table: "#wbdap_imuser_list_table",
                idSrc: 'id',
                fields: [
                    {
                        label: "Username:",
                        name: "username"
                    }, {
                        label: "First name:",
                        name: "first_name"
                    }, {
                        label: "Last name:",
                        name: "last_name"
                    }, {
                        label: "Email:",
                        name: "email"
                    }, {
                        label: "Password:",
                        name: "password",
                        type: "password"
                    },
                    {
                        label: "Superuser:",
                        name: "is_superuser",
                        type: "checkbox",
                        separator: "|",
                        unselectedValue: "false",

                        options: [
                            {label: '', value: true},
                            {#{label: '', value: false},#}
                        ]
                    }, {
                        label: "Staff:",
                        name: "is_staff",
                        type: "checkbox",
                        separator: "|",
                        unselectedValue: "false",

                        options: [
                            {label: '', value: true},
                        ]
                    }, {
                        label: "Active:",
                        name: "is_active",
                        type: "checkbox",
                        separator: "|",
                        unselectedValue: "false",

                        options: [
                            {label: '', value: true},
                        ]
                    }
                ]
            });

            imuser_editor.on('remove', function (e, json) {

                if (json.error == "") {
                    show_snackbar('top_snackbar', 'Row has been removed');
                }
            });


            imuser_editor.on('edit', function (e, json, data) {
                if (json.error == "") {
                    show_snackbar('top_snackbar', 'Row has been updated');
                }
            });


            var imuser_table = $('#wbdap_imuser_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imuser/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {#{#}
                    {#    data: null,#}
                    {#    defaultContent: '',#}
                    {#    className: 'select-checkbox not_editable',#}
                    {#    orderable: false#}
                    //{#},#}
                    {#{#}
                    {#    "className": 'details-control',#}
                    {#    "orderable": false,#}
                    {#    "data": null,#}
                    {#    "defaultContent": ''#}
                    //{#},#}
                    {
                        "data": "username",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<a href="/identityManager/profile/' + row.id + '/">' + row.username + '</a>';
                            }
                            return data;
                        },
                    },
                    {"data": "first_name"},
                    {"data": "last_name"},
                    {"data": "email"},
                    {
                        "data": "is_superuser",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<input type="checkbox" class="datatable-is_superuser">';
                            }
                            return data;
                        },
                        className: "dt-body-center "
                    },
                    {
                        data: "is_staff",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<input type="checkbox" class="datatable-is_staff">';
                            }
                            return data;
                        },
                        className: "dt-body-center"
                    },
                    {
                        data: "is_active",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<input type="checkbox" class="datatable-is_active">';
                            }
                            return data;
                        },
                        className: "dt-body-center"
                    },

                    {#{"data": "last_login", className: "not_editable"},#}
                    {
                        data: null,
                        render: function (data, type, row) {
                            html_code = '{% spaceless %}{% include 'identityManager/operations_button.html' %}{% endspaceless %}';
                            cleaned = html_code.replace(/(\r\n\t|\n|\r\t)/gm, "");
                            return '<div class="btn-group">\n' +
                                '  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>\n' +
                                '  <div class="dropdown-menu">\n' +
                                '    <a class="dropdown-item passwd_change" href="#" data-toggle="modal" data-target="#passwdChangeModal" data-user-id="' + row.id + '">Change Password</a>\n' +
                                '    <a class="dropdown-item" href="#">Another action</a>\n' +
                                '    <a class="dropdown-item" href="#">Something else here</a>\n' +
                                '    <div class="dropdown-divider"></div>\n' +
                                '    <a class="dropdown-item" href="#">Separated link</a>\n' +
                                '  </div>\n' +
                                '</div>';

                        },

                        className: "not_editable"
                    },


                ],
                select: {
                    style: 'os',
                    selector: 'td:not(:first-child)' // no row selection on last column
                },
                buttons: [
                    {extend: "create", editor: imuser_editor},
                    {extend: "edit", editor: imuser_editor},
                    {extend: "remove", editor: imuser_editor}
                ],
                rowCallback: function (row, data) {
                    // Set the checked state of the checkbox in the table
                    $('input.datatable-is_active', row).prop('checked', data.is_active == 1);
                    $('input.datatable-is_superuser', row).prop('checked', data.is_superuser == 1);
                    $('input.datatable-is_staff', row).prop('checked', data.is_staff == 1);
                }
            });


              // Add event listener for opening and closing details
            $('#wbdap_imuser_list_table tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = imuser_table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });


            $('#wbdap_imuser_list_table').on('click', "input:checkbox", function () {
                // console.log( $( this ).attr('class') );

                var type = $(this).attr('class').split("-")[1];
                objs[ename]
                // asagidaki ilk satirdaki false, edit modali gosterme demektir.
                // .edit(table.rows({ selected: true}), false)
                    .edit($(this).closest('tr'), false)
                    .set(type, $(this).prop('checked') ? true : false)
                    .submit();
            });

        })
        ;

    </script>

{% endblock %}