{% extends "identityManager/identityManager_app_template.html" %}
{% load i18n %}

{% block title %}{{ file }}{% endblock %}

{% block page_content %}
    {{ block.super }}
    {% csrf_token %}

    <div id="container">

        <!-- Large EDIT modal -->
        <div class="modal fade" id="edit-row-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Edit Row</h3>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary btn-ok">Send</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- DELETE Modal -->
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        Delete
                    </div>
                    <div class="modal-body">
                        Are you sure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger btn-ok">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">

                {% include "identityManager/modal/addIdentityObjectModal.html" %}

                <div class="row">

                    {# Nesne listelerini goster#}
                    <div class="col-sm-12 col-lg-12">

                        <h2><i class="fa fa-id-card"></i> Identity Manager</h2>
                        <hr>

                        {% if request.path == '/identityManager/user/' %}
                            {% include "identityManager/user_list.html" %}
                        {% elif request.path == '/identityManager/imgroup/' %}
                            {% include "identityManager/imgroup_list.html" %}
                        {% elif request.path == '/identityManager/role/' %}
                            {% include "identityManager/imrole_list.html" %}
                        {% else %}

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block body_jscript %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}identityManager/jscript/identityManager.js"></script>


    <script>
        $(document).ready(function () {
            var csrftoken = $("input[name='csrfmiddlewaretoken']").attr('value');


            $('#wbdap_imuser_list_table').wbdap_api_backed_datatable({
                table: '#wbdap_imuser_list_table',
                list_url: "/api/v1/identityManager/imusers/?format=json",
                create_url: "/api/v1/identityManager/imusers/",
                edit_url: "/api/v1/identityManager/imusers/_id_/",
                remove_url: "/api/v1/identityManager/imusers/_id_/",
                table_columns: [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "username"},
                    {"data": "first_name"},
                    {"data": "last_name"},
                    {"data": "email"},
                    {
                        "data": "is_superuser",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<input type="checkbox" class="datatable-is_superuser">';
                            }
                            return data;
                        },
                        className: "dt-body-center"
                    },
                    {
                        data: "is_staff",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<input type="checkbox" class="datatable-is_staff">';
                            }
                            return data;
                        },
                        className: "dt-body-center"
                    },
                    {
                        data: "is_active",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<input type="checkbox" class="datatable-is_active">';
                            }
                            return data;
                        },
                        className: "dt-body-center"
                    },

                    {"data": "last_login", className: "not_editable"},

                ],
                editor_fields: [

                    {
                        label: "Username:",
                        name: "username"
                    }, {
                        label: "First name:",
                        name: "first_name"
                    }, {
                        label: "Last name:",
                        name: "last_name"
                    }, {
                        label: "Email:",
                        name: "email"
                    }, {
                        label: "Superuser:",
                        name: "is_superuser",
                        type: "checkbox",
                        separator: "|",
                        unselectedValue: "false",

                        options: [
                            {label: '', value: true},
                            {#{label: '', value: false},#}
                        ]
                    }, {
                        label: "Staff:",
                        name: "is_staff",
                        type: "checkbox",
                        separator: "|",
                        unselectedValue: "false",

                        options: [
                            {label: '', value: true},
                            {#{label: '', value: false},#}
                        ]
                    }, {
                        label: "Active:",
                        name: "is_active",
                        type: "checkbox",
                        separator: "|",
                        unselectedValue: "false",

                        options: [
                            {label: '', value: true},
                            {#{label: '', value: false},#}
                        ]
                    }
                ]
            });


            {#------------------------------------------------------------------------------------------------------#}


            imgroup_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imgroups/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imgroups/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            console.log(d)
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imgroups/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imgroup_list_table",
                idSrc: 'id',
                fields: [{
                    label: "Group Name:",
                    name: "name"
                }, {
                    label: "Description:",
                    name: "description"
                }, {
                    label: "Staus:",
                    type: "checkbox",
                    name: "active",
                    unselectedValue: "false",
                    separator: '',
                    options: [
                        {label: "Active", value: true}
                    ],
                }

                ]
            });


            $('#wbdap_imgroup_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imgroups/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "name", orderData: 1, targets: 1},
                    {"data": "description", orderData: 2, targets: 2},
                    {
                        "data": function (row, type, val, meta) {
                            if (row.active) {
                                return "Active"
                            } else {
                                return "Not active"
                            }
                        }
                    },
                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/imgroup/' + data.id + '/">Home</a>';
                        },

                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {extend: "create", editor: imgroup_editor},
                    {extend: "edit", editor: imgroup_editor},
                    {extend: "remove", editor: imgroup_editor}
                ]
            });


            {#------------------------------------------------------------------------------------------------------#}


            imrole_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '/api/v1/identityManager/imroles/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/v1/identityManager/imroles/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        contentType: 'application/json',
                        data: function (d) {
                            console.log(d)
                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },

                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/v1/identityManager/imroles/_id_/',
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    }
                },
                table: "#wbdap_imrole_list_table",
                idSrc: 'id',
                fields: [{
                    label: "Role Name:",
                    name: "name"
                }, {
                    label: "Description:",
                    name: "description"
                }
                ]
            });


            $('#wbdap_imrole_list_table').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                {#"order": [[ 1, 'asc' ], [ 2, 'asc' ]],#}
                "ajax": {
                    url: "/api/v1/identityManager/imroles/?format=json",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }
                },
                "columns": [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox not_editable',
                        orderable: false
                    },
                    {"data": "name", orderData: 1, targets: 1},
                    {"data": "description", orderData: 2, targets: 2},
                    {
                        data: null,
                        "render": function (data, type, row, meta) {
                            return '<a href="/identityManager/role/' + data.id + '">Home</a>';
                        },
                        {#defaultContent: function (d) {#}
                        {#    var link = '<a href="' + d.id + '" class="editor_edit">Home</a>';#}
                        {#    return link;#}
                        //{#},#}
                        orderable: false
                    },
                ],
                select: true,
                buttons: [
                    {extend: "create", editor: imrole_editor},
                    {extend: "edit", editor: imrole_editor},
                    {extend: "remove", editor: imrole_editor}
                ]
            });

            {#-------------------------------------------------------------------------------------------------------------------#}
            {% if messageType == "Exception" %}
                $.notify("{{ message }}", "error");
            {% endif %}
        });

    </script>

{% endblock %}

