{% extends "identityManager/identityManager_app_template.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Application Manager{% endblock %}

{% block application_head_stylesheet %}
    {{ block.super }}
    <link href="{% static "projectCore/css/business-frontpage.css" %}" rel="stylesheet">
{% endblock %}

{% block header_content %}


{% endblock %}

{% block page_content %}

    <div class="card text-center">
        <div class="card-body">
            <span><i style="color:darkorange;padding-bottom: 20px" class="fas fa-cogs fa-9x"></i></span>
            <h3 class="card-title" style="color:darkorange;text-decoration-color: darkorange">Identity Manager</h3>
            <p class="card-text text-muted" >Authorized roles can manage identities on this platform. You will be redirected to login application if needed.</p>
            <a href="{% url 'identityManager:dashboard' %}" class="btn btn-primary">Enter</a>
        </div>
    </div>


    <button onclick="show_snackbar('right_snackbar','testing right')">Show R Snackbar</button>
    <button onclick="show_snackbar('left_snackbar', 'testing left')">Show L Snackbar</button>
    <button onclick="show_snackbar('top_snackbar')">Show T Snackbar</button>
    <button onclick="show_snackbar('bottom_snackbar')">Show B Snackbar</button>

{% endblock %}
