<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ profileOwner.username | capfirst }} {{ profileOwner.last_name | capfirst }}
        </div>

        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    {# USer photo#}
                    <div class="col-lg-3">
                        <div class="panel ">
                            <img src="{{ STATIC_URL }}identityManager/images/default_profile.jpg" class="img-thumbnail"
                                 alt="Cinque Terre" width="304" height="236">
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="panel panel-default panel-default" style="border: 0">
                            <div class="panel-body">
                                <p>
                                    <small>
                                        {{ profile.aboutMe }}
                                    </small>
                                </p>
                            </div>
                            {% include "identityManager/modal/edit_personal_details_Modal.html" %}
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <table class="table table-striped">
                        <tr>
                            <td><b>Name :</b></td>
                            <td>{{ profileOwner.first_name }}</td>
                        </tr>
                        <tr>
                            <td><b>Surname :</b></td>
                            <td>{{ profileOwner.last_name }}</td>
                        </tr>
                        <tr>
                            <td><b>Date Of Birth :</b></td>
                            <td>{{ userProfile.dateOfBirth }}</td>
                        </tr>
                        <tr>
                            <td><b>Gender :</b></td>
                            <td>{{ userProfile.gender }}</td>
                        </tr>

                        <tr>
                            <td><b>Email :</b></td>
                            <td>{{ profileOwner.email }}</td>
                        </tr>
                        <tr>
                            <td><b>Phone Number :</b></td>
                            <td>{{ userProfile.cellularPhone }}</td>
                        </tr>
                        <tr>
                            <td><b>Address :</b></td>
                            <td>{{ userProfile.address }}</td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#editProfile">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>



            <div class="col-lg-12">
                <div class="panel panel-default panel-default" style="border: 0">
                    <div class="panel-body">
                        <u><h3>Studied@{{ educationalRec.count }} schools</h3> <br></u>
                        {% for record in educationalRec %}
                            <strong>{{ record.school }},</strong> {{ record.degree }},{{ record.grade }}<br>
                        {% endfor %}
                    </div>
                    {% include "identityManager/modal/edit_personal_details_Modal.html" %}
                </div>
            </div>

        </div>

        <!-- /.panel-body -->
    </div>
    <!-- /.panel .chat-panel -->
</div>
<!-- /.col-lg-4 -->

