<div class="row mb-4">

    <div class="col-sm">
        <div class="card mb-2 shadow" id="profile_component">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Edit</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover table-striped">
                    <tr>
                        <td><b>Name :</b></td>
                        <td>{{ profileOwner.first_name }}</td>
                    </tr>
                    <tr>
                        <td><b>Surname :</b></td>
                        <td>{{ profileOwner.last_name }}</td>
                    </tr>
                    <tr>
                        <td><b>Date Of Birth :</b></td>
                        <td>{{ profile.dateOfBirth }}</td>
                    </tr>
                    <tr>
                        <td><b>Gender :</b></td>
                        <td>{{ profile.gender }}</td>
                    </tr>
                    <tr>
                        <td><b>Email :</b></td>
                        <td>{{ profileOwner.email }}</td>
                    </tr>
                    <tr>
                        <td><b>Phone Number :</b></td>
                        <td>{{ profile.cellularPhone }}</td>
                    </tr>
                    <tr>
                        <td><b>Address :</b></td>
                        <td>
                            {% with address=profile.currentAddress %}
                            <address>
                                {{ address.name }}<br>
                                {{ address.address1 }}<br>
                                {{ address.address2 }}<br>
                                {{ address.zip_code }}<br>
                                {{ address.city }}-{{ address.country }}
                            </address>
                            {% endwith %}
                        </td>
                    </tr>
                </table>


            </div>

            <!-- /.panel-body -->
        </div>
        <!-- /.panel .chat-panel -->
    </div>
    <div class="col-sm">
        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">About Me</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenter">Edit</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {{ profile.aboutMe }}
            </div>
        </div>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>