{#{% extends "identityManager/identityManager_app_template.html" %}#}
{% extends "projectCore/startbootstrap-sb-admin-2-gh-pages/sb_admin2_index_template.html" %}
{#{% extends "projectCore/wide_page_template.html" %}#}
{% block title %}{{ profileOwner | capfirst }} Profile{% endblock %}
{% load static %}



{% block application_head_stylesheet %}
{#    {{ block.super }}#}
    <style>
        #profilecard {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            {#max-width: 300px;#}
            margin: auto;
            font-family: arial;
        }

        .profile_owner_name {
            font-size: 2.2rem;
        }

        #profile_component {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: auto;
            font-family: arial;
        }

        .profiletitle {
            color: grey;
            font-size: 16px;
        }

        .profilebutton {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        #profilecard a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        profilebutton:hover, a:hover {
            opacity: 0.7;
        }


    </style>
{% endblock %}


{% block head__jscript %}
    {{ block.super }}

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}


{% block page_content %}
{#    {{ block.super }}#}
    {% include "identityManager/user_profile_content.html" %}
{% endblock %}


{% block application_body_jscript %}
    {{ block.super }}

    <script>
        $(function () {
            // run the currently selected effect
            function runEffect(target_id) {
                // get effect type from
                {#      var selectedEffect = $( "#effectTypes" ).val();#}
                var selectedEffect = "fade";

                // Most effect types need no options passed by default
                var options = {};
                // some effects have required parameters
                if (selectedEffect === "scale") {
                    options = {percent: 50};
                } else if (selectedEffect === "size") {
                    options = {to: {width: 200, height: 60}};
                }

                // Run the effect
                $("#" + target_id + "").toggle(selectedEffect, options, 500, callback);
            }

            // Callback function to bring a hidden box back
            function callback() {
                {#      setTimeout(function() {#}
                {#        $( "#effect" ).removeAttr( "style" ).hide().fadeIn();#}
                {#      }, 1000 );#}
            }

            // Set effect from select menu value
            $(".togglerButton").on("click", function () {
                var target_id = this.getAttribute('data-target-divid');

                runEffect(target_id);
            });

            // Set effect from select menu value
            $("#addEducationRecord").on("click", function () {
                alert('add');
            });

            // Set effect from select menu value
            $("#addWorkExperienceRecord").on("click", function () {
                alert('add');
            });
        });
    </script>

{% endblock %}