<div class="main">

    <div class="card">
        <div class="card-header clearfix">
            <div class="card-title">
                User List
            </div>
        </div>
        <div class="card-body">

            <table id="wbdap_imuser_list_table" class="display" cellspacing="0" width="100%">
                <thead>
                <tr style="text-align: center">
                    <th></th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Admin</th>
                    <th>Staff</th>
                    <th>State</th>
                    <th>Operations</th>
                </tr>
                </thead>
            </table>

        </div>
    </div>
</div>