<div id="workExperienceDiv" style="display: none;">
    <div class="col-lg-12">
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fas fa-briefcase"></i> Work Experience

                 <div class="pull-right">
                    <!-- Indicates a successful or positive action -->
                    <button type="button" class="btn btn-xs btn-success" id="addWorkExperienceRecord"><i class="fa fa-plus fa-fw"></i></button>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                {% for rec in workExperienceRec %}
                    <div class="panel panel-default educationalRec">
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-lg-10">
                                    <div class="school">{{ rec.title }}</div>
                                    <div class="school">{{ rec.company }}</div>
                                    <div class="field">{{ rec.sector }}, {{ rec.location }}</div>
                                    <div class="dates">{{ rec.startDate }}-{{ rec.finishDate }}</div>
                                    <hr>
                                    <div class="dates">{{ rec.description }}</div>
                                </div>
                                <div class="col-lg-2">
                                    image
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

</div>