<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseWorkExperienceCard" class="d-block card-header py-3" data-toggle="collapse" role="button"
       aria-expanded="true" aria-controls="collapseWorkExperienceCard">
        <h6 class="m-0 font-weight-bold text-primary">Work Experience</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseWorkExperienceCard">
        <div class="card-body">
            This is a collapsable card example using Bootstrap's built in collapse functionality. <strong>Click on the
            card header</strong> to see the card body collapse and expand!


            {% for rec in workExperienceRec %}
                <div class="panel panel-default educationalRec mb-3 shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="text-dark">{{ rec.title }}</div>
                                <div class="small"><i>{{ rec.company }}  {{ rec.sector }}, {{ rec.location }}</i></div>

                                <div class="dates">{{ rec.startDate }} - {{ rec.finishDate }}</div>
                                <hr>
                                <div class="dates"><p>{{ rec.description }}</p></div>
                                <div class="dates"><p>{{ rec.activities }}</p></div>
                            </div>
                            <div class="col-lg-2">
                                image
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

