.educationalRec{

}

.school{
    font-size: x-large;
    font-weight:bold;
}

.field{
    font-size: large;
}

.dates{
    color: #7e7783;
}

.edit_link{
    margin-right: 10px;
}

/*.ui-autocomplete-input { position: absolute; cursor: default;z-index:30 !important;}*/

.ui-autocomplete {
    z-index: 5000;
    font-size: small;
        max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;

}

.odd_auto_complete {
    background-color: rgba(214, 214, 214, 0.48);
}